<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FNF - EasyPay</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|PT+Sans:300,400,500,700|Open+Sans+Condensed:300" rel="stylesheet">
    <!--link rel="stylesheet" href="~/content/KendoUI/kendo.common.min.css" /-->
    <!-- <link rel="stylesheet" href="~/content/KendoUI/kendo.default.min.css" /> -->
    <!-- <link rel="stylesheet" href="~/content/KendoUI/kendo.default.mobile.min.css" /> -->
    @Styles.Render("~/Content/css")
</head>
<body> <!--style="background: url(/Images/perfect-usa-home-PGAKGC7.jpg) center center; background-size:cover;"-->
    <!-- <header style="min-height: 110px; width: 100%;top: 0;background: transparent;position: fixed;"> -->
    @Html.Partial("_header")
    <!-- </header> -->
    <!-- <div class="row spacer" style="position: absolute; height: 110px; min-height: 110px; width: 100%;top: 0;background: transparent;">&nbsp;</div> -->
    
    <div class="wrapper"><!--  style="position: relative;padding-top: 100px; top:0;" -->
        <div class="main">
            <div class="section">
                <div class="row">
                    <div class="card no-transition mr-auto ml-auto" style="width: 80%;">
                        <div class="card-body">
                            <div class="col-lg-12 col-sm-12">
    <!-- <div class="wrapper">
        <div class="card no-transition mr-auto ml-auto" style="width: 80%;">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12 col-sm-12"> -->
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>               
            </div>
        </div>    
    </div>
    @Html.Partial("_footer")

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/KendoUI/kendo.all.min.js"></script>
    <script src="~/Scripts/easyPay.js"></script>
    <script src="~/Scripts/KendoUI/jszip.min.js"></script>
    <script src="~/Scripts/Site.js"></script>
    @RenderSection("scripts", required: false)
    @RenderSection("pageScripts", required: false)
</body>
</html>