@model NetEasyPay.Models.EnterPasswordModel

@{
    ViewBag.Title = "EnterPassword";
}

<h2>Enter Your Password</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Submit" class="btn btn-primary" id="btnSubmit" />
            </div>
        </div>
    </div>
}

<!-- Modal -->
<div class="modal fade" id="pleaseWaitModal" tabindex="-1" role="dialog" aria-labelledby="pleaseWaitModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="pleaseWaitModalLabel">Please Wait</h4>
            </div>
            <div class="modal-body center-block">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/auth0.min.js"></script>


    <script type="text/javascript">
        $(function () {
            $("#Password").focus();

            $("#btnSubmit").click(function (evt) {
                evt.preventDefault();

                if ($("form").valid()) {
                    showPleaseWait(true);
                    authenticateSsoUser();
                }
            });

            $("input").keypress(function (event) {
                if (event.which == 13) {
                    event.preventDefault();
                    $(this).blur();
                    $("#btnSubmit").focus().click();
                }
            });
        });

        function authenticateSsoUser() {
            var hostUrl = window.location.protocol + "//" + window.location.hostname;
            if (window.location.port !== null & window.location.port.length > 0) {
                hostUrl += ":" + window.location.port;
            }

            console.log("HostURL: " + hostUrl);

            var webAuth = new auth0.WebAuth({
                domain: "fnf-int.auth0.com",
                redirectUri: hostUrl + "/Home/SsoCallback",
                clientID: "wVNMiQfTJUkKlQCYcOqLvu604peJKGT4",
                audience: "https://agency-api-int.fnf.com/"
            });

            var sso = new auth0.Authentication({
                domain: "fnf-int.auth0.com",
                redirectUri: hostUrl + "/Home/SsoCallback",
                clientID: "wVNMiQfTJUkKlQCYcOqLvu604peJKGT4",
                audience: "https://agency-api-int.fnf.com/"
            });

            var apiUrl = "https://agency-webapi-int.fnf.com/o/api/connection?username=" + encodeURI($("#Email").val().trim()).toLowerCase() + "&_" + new Date().getTime();

            $.ajax({
                type: "GET",
                url: apiUrl,
                dataType: "json",
                success: function (data) {
                    userConnection = data.connection;
                    var status = data.status;

                    webAuth.redirect.loginWithCredentials({
                        connection: userConnection,
                        username: $('#Email').val().trim(),
                        password: $('#Password').val().trim(),
                        scope: "openid profile email",
                        responseType: "token",
                        type: 'login'
                    },
                        function (err, authResult) {
                            if (err.statusCode != null) {
                                if (err.statusCode == 429) {
                                    ShowAccountBlockedMessage();
                                }
                                else {
                                    AuthErrorShow();
                                }
                            }
                        })
                },
                error: function (textStatus, errorThrown) {
                    ShowFnfError();
                },
                complete: function () {
                    showPleaseWait(false);
                }
            });

        };

        function showPleaseWait(tgl) {
            if (tgl == true)
                $("#pleaseWaitModal").modal();
            else
                $("#pleaseWaitModal").modal("hide");
        }

    </script>
}
