@model NetEasyPay.Models.RegistrationModel

@{
    ViewBag.Title = "Registration";
}

<h2>Registration</h2>

@if (ViewBag.IsSuccessful != null && ViewBag.IsSuccessful == true)
{
    <hr />
    <div class="col-md-12 bg-success" style="border-radius: 5px; padding: 1px 15px 15px 15px;">
        <h3>Thank you!</h3><br />
        Your registration request has been submitted.  You will receice an email once your registration has been approved.
    </div>
}
else if (ViewBag.IsSuccessful != null && ViewBag.IsSuccessful == false)
{
    <hr />
    <div class="col-md-12 bg-warning" style="border-radius: 5px; padding: 1px 15px 15px 15px;">
        <h3>Error</h3><br />
        @ViewBag.Message
    </div>
}
else
{
    <div class="container">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()


            @Html.HiddenFor(model => model.HasSSO)

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row">
                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label required" })
                        <div class="">
                            @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                @if (Model.HasSSO == false)
                {
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group col-md-12" style="padding-left: 0px !important;">
                                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label required" })
                                <div class="">
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-md-12" style="padding-left: 0px !important;">
                                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label required" })
                                <div class="">
                                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="text-center" style="font-weight: bold;">Password Requirements</div>
                            <div class="small">
                                <ul>
                                    <li>The password must have a minimum of 8 characters</li>
                                    <li>The password must contain characters from at least 3 of the following 4 categories</li>
                                    <li>Uppercase characters (A-Z)</li>
                                    <li>Lowercase characters (a-z)</li>
                                    <li>Base 10 digits (0-9)</li>
                                    <li>Non-alphanumeric (for example: !, $, # or %)</li>
                                    <li>The password cannot be the same as the username and cannot contain 3 or more consecutive characters from the username</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                }

                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label required" })
                        <div class="">
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control sso-input" } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label required" })
                        <div class="">
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control sso-input" } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.CompanyID, htmlAttributes: new { @class = "control-label required" })
                        <div class="">
                            @Html.EditorFor(model => model.CompanyID, new { htmlAttributes = new { @class = "form-control sso-input" } })
                            @Html.ValidationMessageFor(model => model.CompanyID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label required" })
                        <div class="">
                            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control sso-input" } })
                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.PhoneExtension, htmlAttributes: new { @class = "control-label" })
                        <div class="">
                            @Html.EditorFor(model => model.PhoneExtension, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PhoneExtension, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.MobileNumber, htmlAttributes: new { @class = "control-label" })
                        <div class="">
                            @Html.EditorFor(model => model.MobileNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.TimeZone, htmlAttributes: new { @class = "control-label required" })
                        <div class="">
                            <select class="form-control" id="TimeZone" name="TimeZone" required>
                                <option value="">---Please Choose---</option>
                                <option value="AST">AST</option>
                                <option value="EST">EST</option>
                                <option value="CST">CST</option>;
                                <option value="MST">MST</option>
                                <option value="PST">PST</option>
                                <option value="AKST">AKST</option>
                                <option value="HST">HST</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.TimeZone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-6"></div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label" }) 
                        <button type="button" class="btn btn-xs btn-info" data-toggle="tooltip" data-placement="right" title="Please enter the Contact ID, Attention To, or any other information from your statement (invoice) so the Registrant Approver can identify which company you are linked to." style="margin-left: -15px;">
                            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        </button>
                        <div class="">
                            @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control", rows = "5" } })
                            @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.MfaEnabled, htmlAttributes: new { @class = "control-label" })
                        <div class="form-check-radio">
                            <label class="form-check-label">
                                @Html.RadioButtonFor(model => model.MfaEnabled, true) Yes
                                <span class="form-check-sign"></span>
                            </label>
                        </div>
                        <div class="form-check-radio">
                            <label class="form-check-label">
                                @Html.RadioButtonFor(model => model.MfaEnabled, false) No
                                <span class="form-check-sign"></span>
                            </label>
                        </div>
                        @Html.ValidationMessageFor(model => model.MfaEnabled, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 ">
                        <input type="submit" value="Register" class="btn btn-success" />
                        <input type="button" value="Cancel" class="btn btn-default" onclick="window.location='/'" />
                    </div>
                </div>
            </div>
        }
    </div>

    <!-- Modal -->
    <div class="modal fade" id="pleaseWaitModal" tabindex="-1" role="dialog" aria-labelledby="pleaseWaitModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="pleaseWaitModalLabel">Please Wait</h4>
                </div>
                <div class="modal-body center-block">
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
}






@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $("#PhoneNumber").mask("(999) 999-9999");
            $("#MobileNumber").mask("(999) 999-9999");
        });
    </script>

    @if (Model.HasSSO)
    {
        <script type="text/javascript">
            $(function () {
                showPleaseWait(true);
                getEasyPayUser();

                $(".sso-input").attr("readonly", "readonly");
            });

            function getEasyPayUser() {
                var email = $("#EmailAddress").val();
                var apiUrl = "/api/v1/Authorization/ValidateEmail?SSO=true&email=" + email.toLowerCase();

                $.ajax({
                    url: apiUrl,
                    type: "POST",
                    success: function (data) {
                        if (data) {
                            console.log("Server response: ", data);
                            var serverResponse = JSON.parse(data.results);

                            // Is Internal Email?
                            if (typeof serverResponse.isInternal !== "undefined") {
                                if (serverResponse.isInternal) {
                                    window.location = "/home/register";
                                }
                            }
                            // Is User blocked?
                            else if (typeof serverResponse.Auth0Blocked !== "undefined") {
                                window.location = "/home/register";
                            }
                            else if (typeof serverResponse.auth0Id !== "undefined") {
                                $("#FirstName").val(serverResponse.firstName);
                                $("#LastName").val(serverResponse.lastName);
                                $("#CompanyID").val(serverResponse.companyName);

                                var sanitizedPhone = serverResponse.phoneNumber;
                                $("#PhoneNumber").val(sanitizedPhone.substring(1, sanitizedPhone.length));
                            }
                            else {
                                // They exist in both Auth0 and EasyPay...but they're not logged in.
                                window.location.href = "/home/index?emailAddress=" + email;
                            }
                        }
                        else {
                            // Show everything...records will need to be added to both systems.
                            console.log("No existing user record found in either Auth0 or EasyPay");
                        }
                    },
                    error: function (textStatus, errorThrown) {
                        console.log("Something happened: ", errorThrown);
                        return null;
                    },
                    complete: function () { showPleaseWait(false); }
                });
            }

            function showPleaseWait(tgl) {
                if (tgl == true)
                    $("#pleaseWaitModal").modal();
                else
                    $("#pleaseWaitModal").modal("hide");
            }
        </script>
    }
}
